<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.TopicMapper">
  <resultMap id="TopicsMap" type="com.cskaoyan.mall.bean.generator.Topic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="read_count" jdbcType="VARCHAR" property="readCount" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="goods" jdbcType="VARCHAR" property="goods" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, subtitle, price, read_count, pic_url, sort_order, goods, add_time, update_time,
    deleted
  </sql>

  <select id="getTopics"  resultMap="TopicsMap">
    select
    <include refid="Base_Column_List" />
    from cskaoyan_mall_topic t
    where t.id = t.id
    <if test="title != null">
      and title like #{title}
    </if>
    <if test="subtitle != null">
      and subtitle like #{subtitle}
    </if>
    order by #{sort} #{order}
  </select>

  <update id="updateTopic" parameterType="com.cskaoyan.mall.bean.generator.Topic">
    update cskaoyan_mall_topic
    set title = #{topic.title},subtitle = #{topic.subtitle},pic_url = #{topic.picUrl},
    content = #{topic.content},price = #{topic.price},read_count = #{topic.readCount},
    update_time = now()
    where id = #{topic.id}
  </update>

  <select id="getTopicById" resultMap="TopicsMap">
    select <include refid="Base_Column_List" />
    where id = #{id}
  </select>

  <delete id="deleteTopic">
    delete from cskaoyan_mall_topic where id = #{id}
  </delete>

</mapper>