<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.popularizeModuleMapper.CouponMapper">
    <resultMap id="couponMap" type="com.cskaoyan.mall.bean.generator.popularizeModule.Coupon">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="desc" jdbcType="VARCHAR" property="desc" />
        <result column="tag" jdbcType="VARCHAR" property="tag" />
        <result column="total" jdbcType="INTEGER" property="total" />
        <result column="discount" jdbcType="DECIMAL" property="discount" />
        <result column="min" jdbcType="DECIMAL" property="min" />
        <result column="limit" jdbcType="SMALLINT" property="limit" />
        <result column="type" jdbcType="SMALLINT" property="type" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="goods_type" jdbcType="SMALLINT" property="goodsType" />
        <result column="goods_value" jdbcType="VARCHAR" property="goodsValue" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="time_type" jdbcType="SMALLINT" property="timeType" />
        <result column="days" jdbcType="SMALLINT" property="days" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>

    <resultMap id="couponUserMap" type="com.cskaoyan.mall.bean.generator.popularizeModule.CouponUser">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="coupon_id" jdbcType="INTEGER" property="couponId" />
        <result column="status" jdbcType="SMALLINT" property="status" />
        <result column="used_time" jdbcType="TIMESTAMP" property="usedTime" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="deleted" jdbcType="BIT" property="deleted" />
    </resultMap>

    <sql id="Base_Column_List">
    id, `name`, `desc`, tag, total, discount, `min`, `limit`, `type`, status, goods_type, goods_value,
    `code`, time_type, days, add_time, update_time, deleted
  </sql>

    <insert id="createCoupon" useGeneratedKeys="true" keyProperty="coupon.id">
        insert into cskaoyan_mall_coupon (`name`, `desc`,
      tag, total, discount,
      `min`, `limit`, `type`,
      status, goods_type, goods_value,
      code, time_type, days,
      start_time, end_time, add_time,
      update_time, deleted)
    values (#{coupon.name,jdbcType=VARCHAR}, #{coupon.desc,jdbcType=VARCHAR},
      #{coupon.tag,jdbcType=VARCHAR}, #{coupon.total,jdbcType=INTEGER}, #{coupon.discount,jdbcType=DECIMAL},
      #{coupon.min,jdbcType=DECIMAL}, #{coupon.limit,jdbcType=SMALLINT}, #{coupon.type,jdbcType=SMALLINT},
      #{coupon.status,jdbcType=SMALLINT}, #{coupon.goodsType,jdbcType=SMALLINT}, #{coupon.goodsValue,jdbcType=VARCHAR},
      #{coupon.code,jdbcType=VARCHAR}, #{coupon.timeType,jdbcType=SMALLINT}, #{coupon.days,jdbcType=SMALLINT},
      #{coupon.startTime,jdbcType=TIMESTAMP}, #{coupon.endTime,jdbcType=TIMESTAMP}, #{coupon.addTime,jdbcType=TIMESTAMP},
      #{coupon.updateTime,jdbcType=TIMESTAMP}, #{coupon.deleted,jdbcType=BIT})
    </insert>

    <select id="queryCouponList" parameterType="com.cskaoyan.mall.bean.generator.popularizeModule.Coupon" resultMap="couponMap">
        select <include refid="Base_Column_List"/>
        from cskaoyan_mall_coupon cp
        where cp.id = cp.id
        <if test="name != null">
            and name like #{name}
        </if>
        <if test="type != null">
            and type = #{type}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by #{sort} #{order}
    </select>

    <select id="queryCoupons" resultMap="couponMap">
        select id,`name`,`desc`,tag,discount,`min`,days,start_time,end_time
        from cskaoyan_mall_coupon
    </select>

    <select id="queryCouponById" resultMap="couponMap">
        select * from cskaoyan_mall_coupon
        where id = #{id}
    </select>

    <update id="updateCoupon">
        update cskaoyan_mall_coupon set `name`=#{coupon.name},
        `desc`=#{coupon.desc},tag=#{coupon.tag},total=#{coupon.total},
        discount=#{coupon.discount},`min`=#{coupon.min},`limit`=#{coupon.limit},
        `type`=#{coupon.type},status=#{coupon.status},time_type=#{coupon.timeType},
        days=#{coupon.days},start_time=#{coupon.startTime},end_time=#{coupon.endTime}
    </update>

    <select id="queryCouponUsers" resultMap="couponUserMap">
        select * from cskaoyan_mall_coupon_user
        where coupon_id = #{couponId}
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        order by #{sort} #{order}
    </select>

    <delete id="deleteCoupon">
        delete from cskaoyan_mall_coupon where id = #{id}
    </delete>
    <select id="selectAll" resultMap="couponMap">
        select * from cskaoyan_mall_coupon
    </select>
</mapper>
