<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.popularizeModuleMapper.GrouponRulesMapper">
  <resultMap id="grouponRulesMap" type="com.cskaoyan.mall.bean.generator.popularizeModule.GrouponRules">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="discount_member" jdbcType="INTEGER" property="discountMember" />
    <result column="add_time"  property="addTime" />
    <result column="update_time"  property="updateTime"/>
    <result column="expire_time"  property="expireTime"/>
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <sql id="Base_Column_List">
    id, goods_id, goods_name, pic_url, discount, discount_member, add_time, update_time, 
    expire_time, deleted
  </sql>

  <insert id="createGrouponRule" useGeneratedKeys="true" keyProperty="groupRulesJson.id">
    insert into cskaoyan_mall_groupon_rules
    (discount, discount_member, add_time,
    expire_time, deleted)
     values
    (discount = #{discount},discount_member = #{discountMember},add_time = now(),
    expire_time = #{groupRulesJson.expireTime}, deleted = 0)
  </insert>

  <select id="getGrouponRules" resultMap="grouponRulesMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_groupon_rules r
    where r.id = r.id
    <if test="goodsId != null">
      and goods_id = #{goodsId}
    </if>
    order by #{sort} #{order}
  </select>

  <select id="queryGrouponRulesById" resultMap="grouponRulesMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_groupon_rules
    where id = #{id}
  </select>

  <select id="queryGoodsId" resultType="integer">
    select id from cskaoyan_mall_goods where id = #{goodsId}
  </select>

  <update id="updateGrouponRules">
    update cskaoyan_mall_groupon_rules
    set goods_id = #{grouponRules.goodsId},
    discount = #{grouponRules.discount},
    discount_member = #{grouponRules.discountMember},
    expire_time = #{grouponRules.expireTime}
    where id = #{grouponRules.id}
  </update>

  <delete id="deleteGrouponRules">
    delete from cskaoyan_mall_groupon_rules where id = #{id}
  </delete>


</mapper>