<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mall.mapper.popularizeModuleMapper.GrouponMapper">
  <resultMap id="grouponMap" type="com.cskaoyan.mall.bean.generator.popularizeModule.Groupon">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="groupon_id" jdbcType="INTEGER" property="grouponId" />
    <result column="rules_id" jdbcType="INTEGER" property="rulesId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="creator_user_id" jdbcType="INTEGER" property="creatorUserId" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="share_url" jdbcType="VARCHAR" property="shareUrl" />
    <result column="payed" jdbcType="BIT" property="payed" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <resultMap id="grouponWxMap" type="com.cskaoyan.wxmall.bean.GrouponWxBean">
    <result column="discount" jdbcType="DECIMAL" property="groupon_price"/>
    <result column="discount_member" jdbcType="INTEGER" property="groupon_member"/>
    <association property="goods" javaType="com.cskaoyan.wxmall.bean.GoodsWxBean">
      <id column="id" jdbcType="INTEGER" property="id"/>
      <result column="name" jdbcType="VARCHAR" property="name"/>
      <result column="brief" jdbcType="VARCHAR" property="brief"/>
      <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
      <result column="counter_price" jdbcType="DECIMAL" property="counterPrice"/>
      <result column="retail_price" jdbcType="DECIMAL" property="retailPrice"/>
    </association>
  </resultMap>

  <resultMap id="orderMap" type="com.cskaoyan.mall.bean.generator.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
    <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
    <result column="integral_price" jdbcType="DECIMAL" property="integralPrice" />
    <result column="groupon_price" jdbcType="DECIMAL" property="grouponPrice" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="ship_sn" jdbcType="VARCHAR" property="shipSn" />
    <result column="ship_channel" jdbcType="VARCHAR" property="shipChannel" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="comments" jdbcType="SMALLINT" property="comments" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <resultMap id="orderInfoMap" type="com.cskaoyan.wxmall.bean.OrderInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
    <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
    <result column="integral_price" jdbcType="DECIMAL" property="integralPrice" />
    <result column="groupon_price" jdbcType="DECIMAL" property="grouponPrice" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="ship_sn" jdbcType="VARCHAR" property="shipSn" />
    <result column="ship_channel" jdbcType="VARCHAR" property="shipChannel" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="comments" jdbcType="SMALLINT" property="comments" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>


  <resultMap id="grouponGoodsMap" type="com.cskaoyan.wxmall.bean.GrouponGoodsWxBean">
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="number" jdbcType="INTEGER" property="number"/>
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl"/>
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
  </resultMap>

  <select id="queryGoodsListByGoodIds" resultMap="grouponGoodsMap">
    select id,`number`,pic_url,`goods_name` from cskaoyan_mall_order_goods
    where id in
    <foreach collection="goodsIds" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <sql id="Base_Column_List">
    id, order_id, groupon_id, rules_id, user_id, creator_user_id, add_time, update_time,
    share_url, payed, deleted
  </sql>

  <select id="getGroupons" resultMap="grouponMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_groupon g
    where g.id = g.id
    <if test="goodsId != null">
      and
    </if>
  </select>

  <select id="queryGrouponById" resultMap="grouponMap">
    select <include refid="Base_Column_List"/>
    from cskaoyan_mall_groupon where id = #{grouponId}
  </select>

    <select id="selectAll" resultMap="grouponMap">
      select  <include refid="Base_Column_List"/> from cskaoyan_mall_groupon
    </select>

    <select id="selectGrouponById" resultMap="grouponMap">
      select  <include refid="Base_Column_List"/>
      from cskaoyan_mall_groupon
      where groupon_id = #{id}
    </select>

    <select id="queryOrderByUserId" resultMap="orderInfoMap">
      select * from cskaoyan_mall_order where id = #{userId}
    </select>

  <select id="queryWxGrouponsList" resultMap="grouponWxMap">
    select r.discount,r.discount_member,
    g.id,g.name,g.brief,g.pic_url,g.counter_price,g.retail_price
    from cskaoyan_mall_groupon_rules r
    left join cskaoyan_mall_goods g on r.goods_id = g.id
  </select>

  <select id="hasOrder" resultMap="grouponMap">
    select <include refid="Base_Column_List"/> from cskaoyan_mall_groupon where order_id = #{orderId}
  </select>

  <select id="queryGrouponByUserId" resultMap="grouponMap">
    select * from cskaoyan_mall_groupon where user_id = #{userId}
  </select>

  <select id="queryOrderByOrderId" resultMap="orderMap">
    select * from cskaoyan_mall_order where id = #{orderId}
  </select>

  <select id="queryOrderGoodsByOrderId" resultType="integer">
    select goods_id from cskaoyan_mall_order_goods where order_id = #{orderId}
  </select>



</mapper>
